@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Quicksand", sans-serif;

}

body{
    background-color: white;
    width: 100%;
}

/* .img-wrapper img{
    width: 100%;
} */

.hero-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero-section-img {
  width: 100%;
  height: auto;
}
.img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center; 
  }

  .info-container{
    position: absolute;
    top: 5%;
    /* left: 25%; */
    text-align: center;
  }

   .info{
    color: white;
  }

  .pet-selector-container{
    position: absolute;
    top: 17%;
    /* left: 25%; */
    width: 80%;
    background-color: #f0f8ff63;
  }

  .services-selection-section {
            background-color: #f8f9fac4;
            padding: 40px 0;
        }

        .selection-section {
            background-color: #ffffff;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
            padding: 20px;
            margin-bottom: 20px;
            height: 100%;
        }

        .form-label {
            font-weight: 500;
        }

        .search-btn-container {
            display: flex;
            align-items: end;
        }

        .bg-white {
    --bs-bg-opacity: 1;
    background-color: rgb(255 255 255 / 0%) !important;
}

/* About uss */
.about-services-for-you-section .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-section{
  display: flex;
  align-items: center;

}

.services-for-you-section{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* .services-for-you-img-section{
  width: 100%;
} */

.services-for-you-img-section img{
  width: 100%;
  border-radius: 20px;

}

.walking-section , .Training-section{
  display: flex;
  flex-direction: row-reverse;
}

/* sitters-profile.html css */

.hosters-conditions-section{
  display: flex;
}



