*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    width: 100%;
}

/* .img-wrapper img{
    width: 100%;
} */

.hero-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero-section-img {
  width: 100%;
  height: auto;
}

.img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center; 
  }

  .info-container{
    position: absolute;
    top: 7%;
    left: 25%;
    text-align: center;
  }

 
  .pet-selector-container{
    position: absolute;
    top: 17%;
    /* left: 25%; */
    width: 60%;
    background-color: aliceblue;
    
  }

  .checkbox-group{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .checkbox-item{
    /* width: 20%; */
    border: 1px solid grey;
    margin-right: 20px;
    height: 55px;
    text-align: center;
  }

  /* .date-form-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  } */

  .form-row-2{
    display: flex;
    
    /* justify-content: space-between; */
  }

  .form-row-3{
    display: grid;
    grid-column: 1/3;
  }

  .pet-selector{
    background-color: rgb(244, 242, 242);
  }

  .date-group{
    display: grid;
    grid-template-columns: repeat((2, 1fr));
  }

  .search-btn{
    display: inline-block;
    width: 100%;
    padding: 20px;
    border-radius: 99999px;
  }

  .size-btn{
    width: 30%;
  }
  
  .dog-training-section{
    position: absolute;
    top: 55%;
    background-color: aliceblue;
    display: flex;
    width: 60%;
    align-items: center;
    gap: 15px;
  }